langchain
deeplake
openai
tiktoken
streamlit
streamlit_chat
python-dotenv
bs4
requests
pypdf
unstructured
unstructured_inference
tabulate
pdf2image
pdfminer
pdfminer-six
chromadb
sentence_transformers
InstructorEmbedding
google-cloud-aiplatform
google-generativeai
pandas
distutils644
scikit-learn
flask
